* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    }
    
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background:linear-gradient(
        90deg,
            rgb(255, 97, 221) 10%,
            rgb(255, 191, 94)90%
        )
    }
    
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        display: 0;
        align-items: center;
        justify-content: space-between;
        z-index:1000;
        
    }
    
    .menu .logo{
        color: rgb(0, 0, 0);;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
    }
    
    .menu .navbar ul li{
        background-color: rgb(245, 244, 247);
        border-radius: 200px;
        position: relative;
        float: left;
    }
    
    .menu .navbar ul li a{
        font: 22px;
        padding: 20px;
        color: rgb(0, 0, 0);
        display: block;
    }
    
    .menu .navbar ul li a:hover{
        color: rgb(255, 255, 255);
    
    }
    
    #menu{
        display: none;
    }
    
    .menu-icono{
        width: 25px;
    }
    
    .menu label{
        cursor: pointer;
        display: none;
    
        }







        h1 {
            text-align: center;
          }
          
          p {
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
          
          input {
            padding: 5px;
            font-size: 1.2rem;
            margin-right: 10px;
          }
          
          button {
            padding: 5px 10px;
            font-size: 1.2rem;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
          }
          
          #total {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
          }
        